body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("img/katy.jpg");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.chappelle {
  border:1px solid blue;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  content: url("img/chappelle.gif");
}

.star {
  border: 1px solid green;
  height: 80px;
  width: 100px;
  content: url("img/nyanpatrick.gif");
}